*{
    margin: 0;
    padding: 0;
    
} 

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.containerr{
    max-width: 30%;
    height: 100vh;
    display: flex;
    justify-content:start;
    flex-direction: column;
    flex-wrap: wrap;
}

h1, h2, h3{
    margin: 10px;
}

form{
   margin-bottom: 20px;
   gap: 10px;
   display: flex;
    justify-content:start;
    flex-direction: column;
}

input{
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}

button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}

#team{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.player-card{
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.stadium-img{
    width: initial;
    height: initial;
}

#container-2{
   height: vh;
    width: 53%;
    background-image: url("./img/stadium_background.webp");
    /* background-repeat: no-repeat;
    background-size: cover; */
}

@media (max-width: 768px){
    #team{
        grid-template-columns: repeat(2, 1fr);
    }
}
